<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Score">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Score</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="container-fluid text-center">
      <div class="row dashboard">
        <div class="col-xs-12">
          <h2 id="order_waiting_time">Максимальное время ожидания входящего запроса:</h2>
          <h4>Количество необработанных заказов: <span id="count_unconfirmed_orders"></span></h4>
          <h4>Всего заказов, обработанных за день: <span id="count_orders_processed_today"></span></h4>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
          setDataFromJSON();
          setInterval("setDataFromJSON()", {{ DATA_REFRESH_INTERVAL }});
      });


      function setDataFromJSON() {
        $.getJSON("/kpi.json")
        .done(function(data){
          order_waiting_time = data['order_waiting_time']
          if (order_waiting_time === 0){
            $("#order_waiting_time").text('Все заказы обработаны');
          } else if (Math.floor(order_waiting_time/60) === 0 ){
              $("#order_waiting_time").text(order_waiting_time + ' сек. – время ожидания');
          } else {
              $("#order_waiting_time").text(Math.floor(order_waiting_time/60) + ' мин. – время ожидания');
          }
          if (Math.floor(order_waiting_time/60) < {{ YELLOW_INTERVAL }} ){
            $(".dashboard").attr('class', "row dashboard bg-green");
          } else if (Math.floor(order_waiting_time/60) >= {{ YELLOW_INTERVAL }} && Math.floor(order_waiting_time/60) < {{ RED_INTERVAL }} ){
              $(".dashboard").attr('class', "row dashboard bg-yellow");
          } else {
              $(".dashboard").attr('class', "row dashboard bg-red");
          }
          $("#count_unconfirmed_orders").text(data['count_unconfirmed_orders']);
          $("#count_orders_processed_today").text(data['count_orders_processed_today']);
         })
        .fail(function(jqxhr, textStatus, error) {
          var err = textStatus + ", " + error;
          console.log( "Request Failed: " + err)
        });
      }
    </script>
  </body>
</html>